POSTGRES_HOST = localhost
POSTGRES_USER = postgres
POSTGRES_DB = pickfav
POSTGRES_PASSWORD = your_password
POSTGRES_PORT = 5433

JWT_SECRET = your_super_secret_key

EMAIL_FOR_NODEMAILER = your_email_for_nodemailer
PASSWORD_FOR_NODEMAILER = your_password_for_nodemailer